@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  /* position: relative; */
}
.container {
  max-width: 1440px;
  max-height: 949px;
  /* background-color: #7e22ce; */
  padding: 8px;
  gap: 80px; /****** ********/
  /* mix-blend-mode: multiply; */
  /*position: absolute; */
  /************ ******  FOR VECTOR****** ******   ********/
  /* position: relative; */
}
.Shap_vetor1 {
  max-width: 673px;
  max-height: 694px;
  opacity: 1;
  /* top: -80px;
  left: 7px; */
  background-color: #bae6fd;
  border-radius: 65% 10% 45% 70% / 60% 40% 60% 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.Shap_Elipse1 {
  max-width: 149px;
  max-height: 149px;
  opacity: 1;
  background-color: #f59e0b;
  border-radius: 0 0 0 100%;
}
.Shap_Elipse5 {
  max-width: 70px;
  max-height: 70px;
  opacity: 1;
  background-color: #e0f2fe;
  border-radius: 100%;
}
.Shap_Elipse6 {
  max-width: 23px;
  max-height: 23px;
  opacity: 1;
  background-color: #e0f2fe;
  border-radius: 100%;
}
.Shap_Elipse4 {
  max-width: 407.0542297363281px;
  max-height: 247.07676696777344px;
  opacity: 1;
  background-color: #7dd3fc;
  border-radius: 100% 2% 0 0;
}
.Shap_Elipse2 {
  max-width: 74px;
  max-height: 74px;
  opacity: 1;
  background-color: #a855f7;
  border-radius: 100%;
}
.header {
  max-height: 96px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 24px 80px;
}
.left {
  max-width: 511px;
  max-height: 48px;
  display: flex;
  gap: 38px /****** ********/;
}

.h__five {
  font-weight: 700;
  font-size: 32px;
  font-style: bold;
  line-height: 110.00000000000001%;
  letter-spacing: 0;
  margin-bottom: 5px; /*paragraph spacing*/
}

.menu {
  max-width: 392px;
  max-height: 100%;
  gap: 16px /****** ********/;
}
.menu ul {
  display: flex;
  list-style-type: none;
}
.menu ul li {
  max-width: 85px;
  max-height: 100%;
  padding: 12px 8px;
}
.buttonGroup {
  max-width: 389px;
  max-height: 48px;
  display: flex;
  gap: 16px /****** ********/;
}
.btn-link {
  display: inline-flex;
  align-items: center;
  max-width: 167px;
  max-height: 100%;
  border-radius: 100px;
  size: medium;
  padding: 12px 8px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
/* .btn-link:hover {
  cursor: pointer;
  background: #fcd34d;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
} */

.headsetImg {
  width: 24px;
  height: 24px;
}
.textContainer {
  max-width: 127px;
  max-height: 24px;
  padding: 0 16px;
}

.rigthBtn {
  display: inline-flex;
  align-items: center;
  width: 206px;
  max-height: 100%;
  border-radius: 100px;
  size: medium;
  background-color: #fcd34d;
  border: 2px solid #fcd34d;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}
.arrow-right {
  width: 48px;
  height: 48px;
  opacity: 1;
  padding: 12px;
  border-radius: 100px;
  border-width: 2px;
  color: #fcd34d;
}
/* .rigthBtn:hover {
  cursor: pointer;
  background-color: #f7cf4e;
  border: 2px solid #f7cf4e; 
}*/
.textBtnheader {
  font-weight: 400;
  font-style: Bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(120, 53, 15, 1);
}

/* --------------------------------------End Header */
.section__one {
  width: 100%;
  max-height: 812px;
  padding: 80px 80px 0;
  gap: 80px; /****** ********/
  display: flex;
  justify-content: space-between;
}
.sectionOne_left {
  max-width: 600px;
  max-height: 612px;
  display: flex;
  flex-direction: column;
  gap: 128px; /****** ********/

  /************ ******  FOR VECTOR****** ******   ********/
  /* position: absolute;
  z-index: 10; */
}
.sectionOne-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 364px;
  gap: 24px;
}
.sectionOne-top {
  width: 100%;
  height: 158px;
  gap: 8px;
  /* white-space: nowrap; */
}
.sectionOne_mainHeading {
  font-weight: 800;
  font-size: 72px;
  line-height: 110.00000000000001%;
  letter-spacing: 0;
  margin-bottom: 5px; /* paragraph spacing */
}

.sectionOne_caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0;
  margin-bottom: 5px; /*  paragraph spacing*/
}
.sectionOne_buttonWrapper {
  width: 306px;
  height: 64px;
  /* gap: 16px; */
  margin-top: 16px;
}
.sectionOne-Col {
  max-width: 100%;
  max-height: 138px;
  gap: 16px;
}
.sectionOne-Col-top {
  width: 100%;
  height: 58px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0;
  gap: 16px;
  margin-bottom: 16px; /****** ********/
}
.sectionOne-User-card {
  width: 100%;
  height: 64px;
  display: flex;
  gap: 16px;
}
.sectionOne-user-thumb {
  width: 64px;
  height: 64px;
  border-radius: 100px;
  gap: 10px;
}
.sectionOne-detail {
  width: 520px;
  height: 51px;
}
.sectionOne-categoryOne {
  width: 100%;
  height: 29px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0;
}
.sectionOne-categoryTwo {
  width: 100%;
  height: 29px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0;
}
/* --------------End Left section one */

.sectionOne-rigth {
  /* position: relative; */
  width: 600px;
  height: 732px;
  gap: 24px;
  /* z-index: 2; */
}
.sectionOne-wrapperImg {
  /* max-width: 100%; */
  /* z-index: 10; */
  width: 838.7931518554688px;
  height: 487px;
  opacity: 1;
  top: 112px;
  left: -156px;
}
.sectionOne-rigth .sectionOne-wrapperImg img {
  width: 673px;
  height: 694px;
  /* width: 100%; */
  object-fit: cover;
  /* height: 505.3393859863281px; */
  position: relative;
  opacity: 1;
  top: 93.22px;
  left: -152.05px;
  /************ ******  FOR VECTOR****** ******   ********/
  top: -69.78px;
  left: -38.05px;
  z-index: 10;
}
/* --------------------------End Rigth section one */
.section__two {
  max-width: 100%;
  max-height: 1122px;
  padding: 80px;
  gap: 80px; /* ***** ******* */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
.sectionTwo__circles {
  width: 1996px;
  height: 807px;
  opacity: 1;
  position: relative;
  /* z-index: 1; */
}
.Elipse19 {
  width: 131px;
  height: 131px;
  opacity: 1;
  top: 322px;
  /* left: 104px; */
  left: 378px;
  background-color: #fbbf24;
  border-radius: 100%;
  position: absolute;
  z-index: 9;
}
.Elips18 {
  width: 154px;
  height: 154px;
  opacity: 1;
  top: 476px;
  /* left: 1230px; */
  left: 1528px;
  background-color: #a855f7;
  border-radius: 100%;
  position: absolute;
  z-index: 9;
}
.Elipse16 {
  width: 148px;
  height: 148px;
  opacity: 1;
  top: 796px;
  /* left: 1170px; */
  left: 1448px;
  background-color: #fbbf24;
  border-radius: 100%;
  position: absolute;
  z-index: 11;
}
.Elipse17 {
  width: 89px;
  height: 89px;
  opacity: 1;
  top: 729px;
  /* left: 125px; */
  left: 411px;
  background-color: #7e22ce;
  /* border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%; */
  /* clip-path: ellipse(100% 100% at 50% 100%); */
  border-radius: 0% 0% 100% 100% / 0% 0% 100% 100%;
  position: absolute;
  z-index: 15;
}
.Elipse15 {
  width: 596px;
  height: 597px;
  opacity: 1;
  top: 400px;
  /* left: 1045px; */
  left: 1346px;
  background-color: #7e22ce;
  border-radius: 100%;
  position: absolute;
  z-index: 3;
}
.Elipse14 {
  width: 710px;
  height: 711px;
  opacity: 1;
  top: 190px;
  left: -57px;
  /* left: -355px; */
  background-color: #f59e0b;
  border-radius: 100%;
  position: absolute;
  z-index: 4;
}
.sectionTwo-desktop {
  width: 1100px;
  height: 694px;
  opacity: 1;
  border-radius: 20px;
  border-width: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.sectionTwo_Sec-Text {
  width: 900px;
  height: 188px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
.sectionTwo_caption {
  width: 100%;
  height: 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0;
  margin-bottom: 5px; /*paragraph spacing*/
  color: #d97706;
  display: inline-block;
}
.sectionTwo_secondaryHead {
  width: 100%;
  height: 62px;
  font-weight: 800;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0;
  margin-bottom: 5px; /* paragraph spacing*/
  display: inline-block;
}
.sectionTwo_bodyXl {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  line-height: 180%;
  letter-spacing: 0;
  margin-bottom: 5px; /* paragraph spacing*/
}
/* --------------------------End  section Two */

.section__tree {
  /* background: green; */
  max-width: 100%;
  max-height: 1060px;
  padding: 80px;
  /****** ********/
  display: flex;
  gap: 160px; /****** ********/
   /* position: relative; */
  /* overflow: hidden; */ 
}
.sectionTree__shapes {
  width: 1450px;
  position: relative;
  height: 100%;
  z-index: -1;
}
.Shape_rectangle {
  /* width: 1146.5438232421875px;
  height: 1000.1336059570312px;
  opacity: 1;
  background-color: #581c87;
  position: absolute;
  z-index: 1; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.Shape_Elipse17_3 {
  width: 80px;
  height: 80px;
  opacity: 1;
  background-color: #fbbf24;
  border-radius: 100%;

  position: absolute;
 top: 42px;
  left: 129px;
  z-index: 20;
}
.Shape_Elipse18_3 {
  width: 99px;
  height: 99px;
  opacity: 1;
  background-color: #38bdf8;
  position: absolute;
 top: 613px;
  left: 27px;
  border-radius: 100%;
  z-index: 3;
}
.sectionTree-mobile {
  width: 420px;
  height: 900px;
  border-radius: 20px;
  border: 5px solid #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);

  /* position: absolute;*/

  position: relative;
  z-index: -1;
left: -105px;
  top: 73px;
}

.sectionTree_boxRigth {
  width: 700px;
  height: 702px;
  gap: 48px;
}
.sectionTree-secText {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  max-height: 188px;
  gap: 24px;
}
.sectionTree-top {
  width: 100%;
  height: 92px;
  gap: 8px;
}
.sectionTree_caption {
  width: 700px;
  height: 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0;
  margin-bottom: 5px; /* paragraph spacing*/
  color: #d97706;
}
.sectionTree_secondaryHead {
  width: 100%;
  height: 62px;
  font-weight: 800;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0;
  margin-bottom: 5px; /* paragraph spacing*/
}
.sectionTree_bodyXl {
  width: 100%;
  height: 72px;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0;
  margin-bottom: 5px; /* paragraph spacing*/
}
.sectionTree-Row {
  width: 700px;
  height: 209px;
  gap: 48px;
  display: flex;
}
.sectionTree_contentBox {
  width: 326px;
  height: 100%;
}
.sectionTree_contentBox svg {
  width: 64px;
  height: 64px;
  color: #7e22ce !important;
}
.sectionTree_contentBox .Row2Icon {
  width: 64px;
  height: 64px;
  color: #7e22ce;
}
.sectionTree-titleCategory {
  width: 100%;
  height: 26px;
  gap: 4px;
}
.sectionTree_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0;
  margin-bottom: 5px; /* paragraph spacing*/
}
.sectionTree_desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0;
  margin-bottom: 5px; /* paragraph spacing*/
}
/* --------------------------End  section Tree */
.section__four {
  /* background: yellow; */
  width: 100%;
  height: 1060px;
  padding: 80px;
  /****** ********/
  display: flex;
  gap: 160px; /**** ********/
  position: relative;
}

.sectionFour-mobile {
  max-width: 420px;
  height: 900px;
  border-radius: 20px;
  border: 5px solid #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);

  position: relative;
  right: 163px;
  z-index: 5; 
}
.sectionFour-mobile img{
  /* width: 100%;
  height: 100%; */
  object-fit: cover;

}
.Shape_rectangle_four {
  /* width: 1146.5438232421875px;
  height: 1000.1336059570312px;
  opacity: 1;
  background-color: #fbbf24;
  position: absolute;
  z-index: 1;
  border-radius: 40px;
  transform: rotate(8deg); */
  position: absolute;
  top: 0;
  right: 0;
}
.Shape_ElipseOut {
  width: 115px;
  height: 115px;
  opacity: 1;
  top: 662px;
  left: 1286px;
  background: #bae6fd;
  z-index: 5;
}
/* ------------------------------------------------End section Four  */
.section__five {
  background: #fafafa;
  max-width: 100%;
  max-height: 1047px;
  padding: 80px;
  gap: 80px; /****** ********/
  background-color: #581c87;
  display: flex;
  flex-direction: column;
}
.sectionFive__top {
  display: flex;
  width: 1280px;
  height: 188px;
  gap: 160px;
  opacity: 1;
}

.sectionfive-secText {
  display: flex;
  flex-direction: column;
  max-width: 814px;
  max-height: 188px;
  gap: 24px;
  color: #fff;
}

.rigthBtnFive {
  display: inline-flex;
  align-items: center;
  width: 306px;
  height: 64px;
  border-radius: 100px;
  size: medium;
  background-color: #fcd34d;
  border: 2px solid #fcd34d;
  padding: 20px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
}
.arrow-rightFive {
  width: 24px;
  height: 24px;
}
/* .rigthBtnFive:hover {
  cursor: pointer;
  background-color: #f7cf4e;
  border: 2px solid #f7cf4e;
} */
.textBtnFive {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: rgba(120, 53, 15, 1);
}
/* .textBtnFive:hover {
  cursor: pointer;
  background-color: #f7cf4e;
  border: 2px solid #f7cf4e;
} */

.sectionFive__slider {
  width: 1280px;
  height: 491px;
  gap: 24px;
  opacity: 1;
  display: flex;
  overflow: hidden;
}
.sectionFive__contentBox {
  width: 364px;
  height: 491px;
  opacity: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  border-radius: 10px;
  border-width: 1px solid #e2e8f0;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.sectionFive__content {
  width: 100%;
  height: 443px;
  gap: 16px;
  opacity: 1;
  padding: 32px;
}
.iconImg {
  width: 64px;
  height: 64px;
  opacity: 1;
}
.sectionFive__wrapperPSlide {
  width: 300px;
  height: 203px;
  opacity: 1;
}
.sectionFive__Paragraph-Slider {
  font-weight: 400px;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
}
.sectionFive-User-card {
  width: 300px;
  height: 80px;
  gap: 16px;
  opacity: 1;
  padding-top: 16px;
}
.sectionFive-user-thumb {
  width: 64px;
  height: 64px;
  gap: 10px;
  opacity: 1;
  border-radius: 100px;
}
.sectionFive-detail {
  width: 220px;
  height: 51px;
  opacity: 1;
  display: flex;
  flex-direction: row;
}
.sectionFive-categoryOne {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
}
.sectionFive-categoryTwo {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
}
.sectionFive-boxArrows {
  max-width: 120px;
  max-height: 48px;
  gap: 24px;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease;
}
.sectionFive-arrowBtn {
  width: 48px;
  height: 48px;
  padding: 12px;
  opacity: 1;
  border-radius: 100px;
  border: 2px solid #fcd34d;
  color: #fcd34d;
  background-color: transparent;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionFive-arrowBtn:hover {
  transform: scale(1.05);
}
.arrow-left,
.arrow-rigth {
  width: 24px;
  height: 24px;
  /* filter: brightness(0) saturate(100%) invert(84%) sepia(96%) saturate(748%)
    hue-rotate(1deg) brightness(104%) contrast(101%); */
}
/* ---------------------------------------------End section Five */
.section__six {
  /* background: gray; */
  max-width: 100%;
  height: 717px;
  padding: 80px;
  /****** ********/
  display: flex;
  flex-direction: row;
  gap: 80px; /****** ********/
  flex-shrink: 0;
}
.sectionSix__left {
  max-width: 524px;
  height: 557px;
  opacity: 1;

  position: relative;
}
.Elipse11 {
  width: 75px;
  height: 75px;
  opacity: 1;
  top: 92px;
  left: 421px;
  background-color: #06b6d4;
  border-radius: 100%;
  position: absolute;
}
.Elipse7 {
  width: 75px;
  height: 75px;
  opacity: 1;
  top: 232px;
  left: 80px;
  background-color: #ef4444;
  border-radius: 100%;
  position: absolute;
}
.Elipse13 {
  width: 217px;
  height: 217px;
  opacity: 1;
  top: 218px;
  left: 387px;
  background: url("/images/Ellipse\ 13.png");
  border-radius: 100%;
  position: absolute;
}
.Elipse10 {
  width: 242px;
  height: 242px;
  opacity: 1;
  top: 314px;
  left: 118px;
  background: url("/images/Ellipse\ 10.png");
  border-radius: 100%;
  position: absolute;
}
.Elipse8 {
  width: 190px;
  height: 190px;
  opacity: 1;
  top: 80px;
  left: 177px;
  background: url("/images/Ellipse\ 8.png");
  border-radius: 100%;
  position: absolute;
}
.Elipse12 {
  width: 37px;
  height: 37px;
  opacity: 1;
  top: 600px;
  left: 196px;
  background-color: #c084fc;
  border-radius: 100%;
  position: absolute;
}
.Elipse6 {
  width: 92px;
  height: 92px;
  opacity: 1;
  top: 455px;
  left: 367px;
  background-color: #65a30d;
  border-radius: 100%;
  position: absolute;
}
.sectionSix__rigth {
  max-width: 676px;
  height: 378px;
  gap: 24px;
  opacity: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.sectionSix-secText {
  width: 676px;
  height: 330px;
  gap: 24px;
  opacity: 1;
}
.sectionSix-top {
  width: 100%;
  height: 154;
  gap: 8px;
  opacity: 1;
}
.sectionSix_caption {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0%;
  color: #d97706;
}
.sectionSix_secondaryHead {
  font-weight: 800;
  font-size: 56px;
  line-height: 110%;
  letter-spacing: 0%;
}
.sectionSix_bodyXl {
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0%;
}
.sectinSix__BtnGroup {
  width: 676px;
  height: 56px;
  gap: 16px;
  opacity: 1;
  /* display: flex; */
}
.sectionSix_BtnLink {
  /* width: 217px; */
  height: 56px;
  opacity: 1;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  display: flex;
}
.sectionSix_textContaner {
  display: inline-flex;
  /* width: 185px; */
  height: 24px;
  opacity: 1;
  padding-right: 16px;
}
.sectionSix_TextBtn {
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #78350f;
  text-decoration: none;
  padding-right: 16px;
  text-decoration: none;
}
.sectionSix_arrowIcon {
  width: 24px;
  height: 24px;
  opacity: 1;
}
/*  ---------------------------------------------End section Six */
.section__seven {
  max-width: 100%;
  max-height: 949px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  opacity: 1;
  mix-blend-mode: Multiply;
  background-color: #7e22ce;
}
.sectionSeven_TextTop {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  color: #78350f;
  margin-top: 20px;
}
.sectionSeven_buttonWrapper {
  width: 306px;
  height: 149px;
  gap: 16px;
  opacity: 1;
  padding-top: 40px;
}
.sectionSeven_wrapperImg {
  width: 1008px;
  height: 555px;
  opacity: 1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}
.sectionSeven_Img {
  width: 816px;
  height: 540px;
  opacity: 1;
  margin-left: 98px;
}
/* ---------------------------------------------End section Seven */
.footer {
  max-width: 100%;
  max-height: 94px;
  padding: 0 80px;
}
.footer_All {
  width: 1280px;
  height: 94px;
  gap: 24px;
  opacity: 1;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.footer_left {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer_logoContainer {
  width: 126.8095703125px;
  height: 32px;
  gap: 10px;
  opacity: 1;
}
.footer_companyName {
  width: 552.59521484375px;
  height: 22px;
  opacity: 1;
}
.footer_comanyNameText {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
}

.footer_rigth {
  /* width: 552.59521484375px; */
  max-height: 46px;
  display: flex;
  gap: 24px;
  opacity: 1;
}

.footer_rigth a {
  max-width: 45px;
  max-height: 46px;
  gap: 8px;
  opacity: 1;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  color: #0f172a;
}
