@media (max-width: 393px) {
  .container {
    width: 393px;
    height: 6712.5244140625px;
    opacity: 1;
    background: #ffffff;
    margin: 0 auto;
  }
  .menu {
    display: none;
  }

  .buttonGroup {
    display: none;
  }
  .header {
    visibility: hidden;
    display: none;
  }
  /* ------------------------------- end header */
  .sectionOne-wrapperImg {
    display: none;
  }
  .section__one {
    width: 100%;
    height: 600px;
    gap: 64px;
    opacity: 1;
    padding-top: 48px;
    padding-right: 16px;
    padding-bottom: 48px;
    padding-left: 16px;

    display: flex;
    justify-content: center;
  }
  .sectionOne_left {
    width: 100%;
    height: 585px;
    gap: 64px;
    opacity: 1;
    padding-top: 48px;
    padding-right: 16px;
    padding-bottom: 48px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sectionOne-text {
    width: 361px;
    height: 279px;
    gap: 24px;
    opacity: 1;
  }
  .sectionOne-top {
    width: 100%;
    height: 158px;
    gap: 8px;
  }
  .sectionOne_mainHeading {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
  }

  .sectionOne_caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectionOne_buttonWrapper {
    width: 243px;
    height: 56px;
    gap: 1610px;
    opacity: 1;
    margin: 0 auto;
  }
  .rigthBtnFive {
    width: 243px;
    height: 56px;
    border-radius: 33px;
    border-width: 2px;
    padding: 16px;
    background: #fcd34d;
    border: 2px solid #fcd34d;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
  }
  .textBtnFive {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #78350f;
  }
  .sectionOne-Col {
    width: 361px;
    height: 146px;
    gap: 16px;
  }
  .sectionOne-Col-top {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .sectionOne-User-card {
    width: 600px;
    height: 64px;
    gap: 16px;
    opacity: 1;
  }
  /* .sectionOne-user-thumb {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    gap: 10px;
  } */
  /* .sectionOne-detail {
    width: 520px;
    height: 51px;
  } */
  .sectionOne-categoryOne {
    width: 100%;
    height: 29px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0;
  }
  .sectionOne-categoryTwo {
    /* width: 100%; */
    height: 29px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }
  /*--------------------------------------end section one */
  .section__two {
    /* background-color: brown; */
    width: 100%;
    height: 579px;
    gap: 64px;
    opacity: 1;
    padding-top: 48px;
    padding-right: 16px;
    padding-bottom: 48px;
    padding-left: 16px;
  }
  .sectionTwo__circles {
    width: 702.4337768554688px;
    height: 284px;
    opacity: 1;

    position: relative;
  }
  .Elipse19 {
    width: 46.10161209106445px;
    height: 46.10161209106445px;
    top: 285.65px;
    left: 167.08px;
    background-color: #fbbf24;
    border-radius: 100%;
    position: absolute;
    z-index: 9;
  }
  .Elips18 {
    width: 54.19578552246094px;
    height: 54.19578552246094px;
    top: 401.65px;
    left: 531.08px;

    background-color: #a855f7;
    border-radius: 100%;
    position: absolute;
    z-index: 9;
  }
  .Elipse16 {
    width: 46.9891471862793px;
    height: 46.9891471862793px;
    top: 453.27px;
    left: 465.78px;

    background-color: #fbbf24;
    border-radius: 100%;
    position: absolute;
    z-index: 11;
  }
  .Elipse17 {
    width: 28.256988525390625px;
    height: 28.256988525390625px;
    top: 446px;
    left: 192px;
    background-color: #7e22ce;
    border-radius: 0% 0% 100% 100% / 0% 0% 100% 100%;
    position: absolute;
    z-index: 15;
  }
  .Elipse15 {
    width: 209.74473571777344px;
    height: 210.09666442871094px;
    top: 354.9px;
    left: 364.97px;

    background-color: #7e22ce;
    border-radius: 100%;
    position: absolute;
    z-index: 3;
  }
  .Elipse14 {
    width: 249.8636932373047px;
    height: 250.2156219482422px;
    top: 265px;
    left: 27.28px;

    background-color: #f59e0b;
    border-radius: 100%;
    position: absolute;
    z-index: 4;
  }
  .sectionTwo-desktop {
    width: 358px;
    height: 246px;
    opacity: 1;
    border-radius: 20px;
    border-width: 5px;
    display: flex;
    justify-content: center;
    margin-top: 24px;

    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .sectionTwo_top {
    width: 361px;
    height: 61px;
  }
  .sectionTwo_Sec-Text {
    width: 361px;
    height: 173px;
    gap: 24px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sectionTwo_caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;

    color: #d97706;
    display: inline-block;
  }

  .sectionTwo_secondaryHead {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;

    display: inline-block;
  }
  .sectionTwo_bodyXl {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  /*--------------------------------------End section two */
  .section__tree {
    width: 393px;
    height: 1416.4287109375px;
    padding: 48px 16px;
    gap: 64px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .sectionTree__shapes {
    width: 1450px;

    height: 100%;
    z-index: -1;
    /* display: none; */
  }

  .sectionTree-rectangleImg_desktop {
    display: none;
  }
  .sectionTree-rectangleImg_mobile {
    display: block;
  }
  .Shape_rectangle {
    width: 599.5623168945312px;
    height: 523px;

    position: absolute;
    top: 900px;
    left: 0;
    z-index: 1;
    /* display: none; */
  }
  .Shape_Elipse17_3 {
    width: 44px;
    height: 44px;
    opacity: 1;
    background-color: #fbbf24;
    border-radius: 100%;

    position: absolute;
    top: 907px;
    left: 129px;
    z-index: 20;
  }
  .Shape_Elipse18_3 {
    width: 51.77px;
    height: 51.77px;
    opacity: 1;
    background-color: #38bdf8;
    position: absolute;
    top: 1211px;
    left: 61px;
    border-radius: 100%;
    z-index: 3;
  }
  .sectionTree-mobileImg_desktop {
    display: none !important;
  }
  .sectionTree-mobileImg_mobile {
    display: block !important;
  }
  .sectionTree-mobile {
    width: 220px;
    height: 471.4286804199219px;
    opacity: 1;
    border-width: 5px;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);

    position: absolute;
    z-index: 2;
    left: 73px;
    top: 924px;
  }

  .sectionTree_boxRigth {
    width: 100%;
    height: 721px;
    gap: 48px;
    position: absolute;
    left: 0px;
    top: 7%;
    display: flex;
    flex-direction: column;
  }

  .sectionTree-secText {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 151px;
    gap: 24px;
    margin: 0 auto;
  }
  .sectionTree-top {
    width: 100%;
    height: 61px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionTree_caption {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
    color: #d97706;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .sectionTree_secondaryHead {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectionTree_bodyXl {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectionTree_boxRow {
    width: 361px;
    height: 570px;
    gap: 48px;
    display: flex;
    flex-direction: column;
  }

  .sectionTree-Row {
    width: 100%;
    height: 250px;
    gap: 48px;

    display: flex;
  }
  .sectionTree_contentBox {
    width: 156.5px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .sectionTree_contentBox svg {
    width: 2.666667938232422px;
    height: 0px;
    top: 45.33px;
    left: 37.33px;
    border-width: 1.5px;

    color: #7e22ce !important;
  }
  .RowIcon {
    width: 64px;
    height: 64px;
    /* top: 45.33px;
    left: 37.33px; */
    border-width: 1.5px;

    color: #7e22ce;
    display: block;
    margin: 0 auto;
  }
  .sectionTree-titleCategory {
    width: 156.5px;
    height: 44px;
    gap: 8px;
  }
  .sectionTree_title {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectionTree_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  /* --------------------------End  section Tree */
  .section__four {
    width: 100%;
    height: 1060px;
    padding: 80px;

    display: flex;
    gap: 160px;
    position: relative;
  }
  .sectionFour-rectImg_desktop {
    display: none !important;
  }
  .sectionFour-rectImg_mobile {
    display: block !important;
  }
  .sectionFour-mobile {
    width: 228px;
    height: 491px;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);

    position: absolute;
    right: 83px;
    z-index: 5;
    top: 928px;
  }
  .sectionFour-mobile img {
    object-fit: cover;
  }
  .sectionFour-rectImg_desktop {
    display: none;
  }
  .sectionFour-rectImg_mobile {
    display: block;
  }
  .sectionFour-rectImg_desktop {
    display: none !important;
  }
  .sectionFour-rectImg_mobile {
    display: block !important;
  }
  .Shape_rectangle_four {
    position: absolute;
    top: 919px;
    right: -20px;
  }
  .Shape_ElipseOut {
    width: 115px;
    height: 115px;
    opacity: 1;
    top: 700px;
    left: 1306px;
    background: #bae6fd;
    z-index: 20;
    border-radius: 100%;
    position: absolute;
    border: 3px solid #fff;
  }
  .sectionFour_boxRigth {
    /* width: 700px;
    height: 702px;
    gap: 48px;
    position: absolute;
    left: 82px;
    top: 72px; */
    width: 100%;
    height: 721px;
    gap: 48px;
    position: absolute;
    left: 0px;
    top: 7%;
    display: flex;
    flex-direction: column;
  }
  /* ------------------------------------------------End section Four  */
}
