@media (max-width: 393px) {
  .container {
    width: 393px;
    height: 6712.5244140625px;
    opacity: 1;
    background: #ffffff;
    margin: 0 auto;
  }
  .menu {
    /* display: none; */
  }

  .buttonGroup {
    /* display: none; */
  }
  .header {
    /* visibility: hidden;
    display: none; */
  }
  /* ------------------------------- end header */
  .sectionOne-wrapperImg {
    display: none;
  }
  .section__one {
    width: 100%;
    height: 600px;
    gap: 64px;
    opacity: 1;
    padding-top: 48px;
    padding-right: 16px;
    padding-bottom: 48px;
    padding-left: 16px;

    display: flex;
    justify-content: center;
  }
  .sectionOne_left {
    width: 100%;
    height: 585px;
    gap: 64px;
    opacity: 1;
    padding-top: 48px;
    padding-right: 16px;
    padding-bottom: 48px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sectionOne-text {
    width: 361px;
    height: 279px;
    gap: 24px;
    opacity: 1;
  }
  .sectionOne-top {
    width: 100%;
    height: 158px;
    gap: 8px;
  }
  .sectionOne_mainHeading {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
  }

  .sectionOne_caption {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectionOne_buttonWrapper {
    width: 243px;
    height: 56px;
    gap: 1610px;
    opacity: 1;
    margin: 0 auto;
  }
  .rigthBtnFive {
    width: 243px;
    height: 56px;
    border-radius: 33px;
    border-width: 2px;
    padding: 16px;
    background: #fcd34d;
    border: 2px solid #fcd34d;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
  }
  .textBtnFive {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #78350f;
  }
  .sectionOne-Col {
    width: 361px;
    height: 146px;
    gap: 16px;
  }
  .sectionOne-Col-top {
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .sectionOne-User-card {
    width: 600px;
    height: 64px;
    gap: 16px;
    opacity: 1;
  }
  /* .sectionOne-user-thumb {
    width: 64px;
    height: 64px;
    border-radius: 100px;
    gap: 10px;
  } */
  /* .sectionOne-detail {
    width: 520px;
    height: 51px;
  } */
  .sectionOne-categoryOne {
    width: 100%;
    height: 29px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0;
  }
  .sectionOne-categoryTwo {
    /* width: 100%; */
    height: 29px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
  }
  /*--------------------------------------end section one */
  .section__two {
    /* background-color: brown; */
    width: 100%;
    height: 579px;
    gap: 64px;
    opacity: 1;
    padding-top: 48px;
    padding-right: 16px;
    padding-bottom: 48px;
    padding-left: 16px;
  }
  .sectionTwo__circles {
    width: 702.4337768554688px;
    height: 284px;
    opacity: 1;

    position: relative;
  }
  .Elipse19 {
    width: 46.10161209106445px;
    height: 46.10161209106445px;
    top: 285.65px;
    left: 167.08px;
    background-color: #fbbf24;
    border-radius: 100%;
    position: absolute;
    z-index: 9;
  }
  .Elips18 {
    width: 54.19578552246094px;
    height: 54.19578552246094px;
    top: 401.65px;
    left: 531.08px;

    background-color: #a855f7;
    border-radius: 100%;
    position: absolute;
    z-index: 9;
  }
  .Elipse16 {
    width: 46.9891471862793px;
    height: 46.9891471862793px;
    top: 453.27px;
    left: 465.78px;

    background-color: #fbbf24;
    border-radius: 100%;
    position: absolute;
    z-index: 11;
  }
  .Elipse17 {
    width: 28.256988525390625px;
    height: 28.256988525390625px;
    top: 446px;
    left: 192px;
    background-color: #7e22ce;
    border-radius: 0% 0% 100% 100% / 0% 0% 100% 100%;
    position: absolute;
    z-index: 15;
  }
  .Elipse15 {
    width: 209.74473571777344px;
    height: 210.09666442871094px;
    top: 354.9px;
    left: 364.97px;

    background-color: #7e22ce;
    border-radius: 100%;
    position: absolute;
    z-index: 3;
  }
  .Elipse14 {
    width: 249.8636932373047px;
    height: 250.2156219482422px;
    top: 265px;
    left: 27.28px;

    background-color: #f59e0b;
    border-radius: 100%;
    position: absolute;
    z-index: 4;
  }
  .sectionTwo-desktop {
    width: 358px;
    height: 246px;
    opacity: 1;
    border-radius: 20px;
    border-width: 5px;
    display: flex;
    justify-content: center;
    margin-top: 24px;

    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .desktop-img {
    display: none;
  }
  .mobile-img {
    display: block;
  }
  .sectionTwo_top {
    width: 361px;
    height: 61px;
  }
  .sectionTwo_Sec-Text {
    width: 361px;
    height: 173px;
    gap: 24px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sectionTwo_caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;

    color: #d97706;
    display: inline-block;
  }

  .sectionTwo_secondaryHead {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;

    display: inline-block;
  }
  .sectionTwo_bodyXl {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  /*--------------------------------------End section two */
  .section__tree {
    width: 393px;
    height: 1416.4287109375px;
    padding: 48px 16px;
    gap: 64px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .sectionTree__shapes {
    width: 1450px;

    height: 100%;
    z-index: -1;
    /* display: none; */
  }

  .sectionTree-rectangleImg_desktop {
    display: none;
  }
  .sectionTree-rectangleImg_mobile {
    display: block;
  }
  .Shape_rectangle {
    width: 599.5623168945312px;
    height: 523px;

    position: absolute;
    top: 900px;
    left: 0;
    z-index: 1;
    /* display: none; */
  }
  .Shape_Elipse17_3 {
    width: 44px;
    height: 44px;
    opacity: 1;
    background-color: #fbbf24;
    border-radius: 100%;

    position: absolute;
    top: 907px;
    left: 129px;
    z-index: 20;
  }
  .Shape_Elipse18_3 {
    width: 51.77px;
    height: 51.77px;
    opacity: 1;
    background-color: #38bdf8;
    position: absolute;
    top: 1211px;
    left: 61px;
    border-radius: 100%;
    z-index: 3;
  }
  .sectionTree-mobileImg_desktop {
    display: none !important;
  }
  .sectionTree-mobileImg_mobile {
    display: block !important;
  }
  .sectionTree-mobile {
    width: 220px;
    height: 471.4286804199219px;
    opacity: 1;
    border-width: 5px;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);

    position: absolute;
    z-index: 2;
    left: 73px;
    top: 924px;
  }

  .sectionTree_boxRigth {
    width: 100%;
    height: 721px;
    gap: 48px;
    position: absolute;
    left: 0px;
    top: 7%;
    display: flex;
    flex-direction: column;
  }

  .sectionTree-secText {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 151px;
    gap: 24px;
    margin: 0 auto;
  }
  .sectionTree-top {
    width: 100%;
    height: 61px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionTree_caption {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
    color: #d97706;
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .sectionTree_secondaryHead {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectionTree_bodyXl {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectionTree_boxRow {
    width: 361px;
    height: 570px;
    gap: 48px;
    display: flex;
    flex-direction: column;
  }

  .sectionTree-Row {
    width: 100%;
    height: 250px;
    gap: 48px;

    display: flex;
  }
  .sectionTree_contentBox {
    width: 156.5px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .sectionTree_contentBox svg {
    width: 2.666667938232422px;
    height: 0px;
    top: 45.33px;
    left: 37.33px;
    border-width: 1.5px;

    color: #7e22ce !important;
  }
  .RowIcon {
    width: 64px;
    height: 64px;
    /* top: 45.33px;
    left: 37.33px; */
    border-width: 1.5px;

    color: #7e22ce;
    display: block;
    margin: 0 auto;
  }
  .sectionTree-titleCategory {
    width: 156.5px;
    height: 44px;
    gap: 8px;
  }
  .sectionTree_title {
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectionTree_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  /* --------------------------End  section Tree */
  .section__four {
    width: 100%;
    height: 1060px;
    padding: 80px;

    display: flex;
    gap: 160px;
    position: relative;
  }
  .sectionFour-rectImg_desktop {
    display: none !important;
  }
  .sectionFour-rectImg_mobile {
    display: block !important;
  }
  .sectionFour-mobile {
    width: 228px;
    height: 491px;
    border-radius: 20px;
    border: 5px solid #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);

    position: absolute;
    right: 83px;
    z-index: 5;
    top: 928px;
  }
  .sectionFour-mobile img {
    object-fit: cover;
  }
  .sectionFour-rectImg_desktop {
    display: none;
  }
  .sectionFour-rectImg_mobile {
    display: block;
  }
  .sectionFour-rectImg_desktop {
    display: none !important;
  }
  .sectionFour-rectImg_mobile {
    display: block !important;
  }
  .Shape_rectangle_four {
    position: absolute;
    top: 919px;
    right: -20px;
  }
  .Shape_ElipseOut {
    width: 115px;
    height: 115px;
    opacity: 1;
    top: 700px;
    left: 1306px;
    background: #bae6fd;
    z-index: 20;
    border-radius: 100%;
    position: absolute;
    border: 3px solid #fff;
  }
  .sectionFour_boxRigth {
    width: 100%;
    height: 721px;
    gap: 48px;
    position: absolute;
    left: 0px;
    top: 7%;
    display: flex;
    flex-direction: column;
  }

  /* ------------------------------------------------End section Four  */
  .section__five {
    width: 100%;
    height: 916px;
    gap: 64px;
    opacity: 1;
    padding-top: 48px;
    padding-right: 16px;
    padding-bottom: 48px;
    padding-left: 16px;

    background: #fafafa;
    background-color: #581c87;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    position: relative;
    overflow: hidden;

    top: 476px;
  }
  .sectionFive__top {
    display: flex;
    flex-direction: column;
    width: 361px;
    height: 288px;
    gap: 32px;
    z-index: 12;
    position: relative;
    left: -6px;
  }

  .sectionfive-secText {
    display: flex;
    flex-direction: column;
    max-width: 814px;
    max-height: 188px;
    gap: 24px;
    color: #fff;
  }
  .sectionFive_wrapperP {
    margin-top: 24px;
  }
  .sectionTree-top {
    gap: 8px;
  }

  .rigthBtnFive {
    display: inline-flex;
    align-items: center;
    width: 243px;
    height: 56px;
    border-radius: 100px;
    size: medium;
    background-color: #fcd34d;
    border: 2px solid #fcd34d;
    padding: 20px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    margin-top: 24px;
  }
  .arrow-rightFive {
    width: 24px;
    height: 24px;
  }
  .textBtnFive {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;

    color: rgba(120, 53, 15, 1);
  }

  .sectionFive__slider {
    width: 361px;
    height: 356px;
    gap: 24px;

    display: flex;
    z-index: 2;
    position: relative;
    left: -6px;
  }
  .sectionFive__contentBox {
    width: 358px;
    height: 356px;
    border-radius: 10px;
    border-width: 1px;
    border-width: 1px solid #e2e8f0;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  .sectionFive__content {
    width: 100%;
    height: 356px;
    gap: 16px;
    opacity: 1;
    padding: 32px;
    display: flex;
    flex-direction: column;
  }
  .iconImg {
    width: 64px;
    height: 64px;
    opacity: 1;
  }
  .sectionFive__wrapperPSlide {
    width: 249px;
    height: 132px;
  }
  .sectionFive__Paragraph-Slider {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .sectionFive-User-card {
    width: 294px;
    height: 64px;
    gap: 8px;
    padding-top: 16px;
    display: flex;
    flex-direction: row;
  }
  .sectionFive-user-thumb {
    width: 48px;
    height: 48px;
    display: flex;
    gap: 10px;
    opacity: 1;
    border-radius: 100px;
  }
  .sectionFive-detail {
    width: 238px;
    height: 42px;
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
  }
  .sectionFive-categoryOne {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .sectionFive-categoryTwo {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
  }
  .sectionFive-boxArrows {
    width: 120px;
    height: 48px;
    gap: 24px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .sectionFive-arrowBtn {
    width: 48px;
    height: 48px;
    padding: 12px;
    opacity: 1;
    border-radius: 100px;
    border: 2px solid #fcd34d;
    color: #fcd34d;
    background-color: transparent;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow-left,
  .arrow-rigth {
    width: 24px;
    height: 24px;
  }
  .sectionFive-vector {
    width: 984.0001220703163px;
    height: 1498.9998779296932px;
    transform: rotate(180 deg);
    /* angle: 180 deg; */
    opacity: 0.5;
    mix-blend-mode: Difference;
    position: absolute;
    left: 0;
    bottom: -1100px;
    z-index: -1;
  }
  .sectinoFive_Elipse2 {
    width: 218px;
    height: 219px;
    opacity: 1;
    background: #6b21a8;
    z-index: 10;
    border-radius: 100%;
    position: absolute;
    top: 24px;
    left: 1180px;
  }
  .sectinoFive_Elipse3 {
    width: 254.00000787985118px;
    height: 368.0000114164773px;
    transform: rotate(52.93 deg);
    opacity: 1;
    background: #38bdf8;
    border-radius: 100%;
    position: absolute;
    bottom: 90px;
    left: 1295px;
  }
  /* ---------------------------------------------End section Five */
  .section__six {
    width: 100%;
    height: 614px;
    gap: 32px;
    padding: 48px 16px;
    background-color: #fff;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    top: 476px;
  }
  .sectionSix__left {
    width: 282.2261657714844px;
    height: 300px;
  }
  .sectionSix__Elipse4 {
    width: 624px;
    height: 622px;
    opacity: 1;
    background: #fef3c7;
    border-radius: 100%;
    position: absolute;
    bottom: -340px;
    left: 977px;
  }
  .Elipse11 {
    width: 40.39497756958008px;
    height: 40.39497756958008px;
    top: 54.46px;
    left: 239.05px;
    background-color: #06b6d4;
    border-radius: 100%;
    position: absolute;
  }
  .Elipse7 {
    width: 40.39497756958008px;
    height: 40.39497756958008px;
    top: 129.87px;
    left: 55.39px;

    background-color: #ef4444;
    border-radius: 100%;
    position: absolute;
  }
  .Elipse13 {
    width: 116.87612915039062px;
    height: 116.87612915039062px;
    top: 122.33px;
    left: 220.74px;

    background: url("/images/Ellipse\ 13.png");
    border-radius: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .Elipse10 {
    width: 130.34112548828125px;
    height: 130.34112548828125px;
    object-fit: cover;
    top: 174.03px;
    left: 75.85px;
    background-color: red;
    /* background: url("/images/svg/Ellipse 8.svg"); */
    border-radius: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .Elipse8 {
    width: 102.33394622802734px;
    height: 102.33394622802734px;
    top: 48px;
    left: 107.63px;

    background: url("/images/Ellipse\ 8.png");
    border-radius: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .Elipse12 {
    width: 19.928190231323242px;
    height: 19.928190231323242px;
    top: 328.07px;
    left: 117.86px;

    background-color: #c084fc;
    border-radius: 100%;
    position: absolute;
  }
  .Elipse6 {
    width: 49.551170349121094px;
    height: 49.551170349121094px;
    top: 249.97px;
    left: 209.97px;

    background-color: #65a30d;
    border-radius: 100%;
    position: absolute;
  }
  .sectionSix__rigth {
    width: 361px;
    height: 186px;
    gap: 32px;

    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .sectionSix-secText {
    width: 100%;
    height: 186px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: -67px;
  }
  .sectionSix-top {
    width: 100%;
    height: 96px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .sectionSix_caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;

    color: #d97706;
  }
  .sectionSix_secondaryHead {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectionSix_bodyXl {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  .sectinSix__BtnGroup {
    width: 676px;
    height: 56px;
    gap: 16px;
    opacity: 1;
    /* display: flex; */
  }
  .sectionSix_BtnLink {
    /* width: 217px; */
    height: 56px;
    opacity: 1;
    border-radius: 8px;
    padding-top: 16px;
    padding-right: 8px;
    padding-bottom: 16px;
    display: flex;
  }
  .sectionSix_textContaner {
    display: none;
  }
  .sectionSix_TextBtn {
    display: none;
  }
  .sectionSix_arrowIcon {
    display: none;
  }
  /*  ---------------------------------------------End section Six */
  .section__seven {
    width: 393px;
    height: 605.0955200195312px;
    padding: 48px 16px;
    gap: 64px;
    display: flex;
    flex-direction: column;
    mix-blend-mode: Multiply;
    background-color: #7e22ce;

    position: relative;
    overflow: hidden;

    top: 476px;
  }
  .sectionSeven_TextTop {
    width: 358px;
    height: 249px;
    gap: 16px;
    text-align: center;
    color: #fcd34d;
    margin-top: 20px;
    margin: 0 auto;
  }

  .sectionSeven_buttonWrapper {
    width: 243px;
    height: 56px;
    margin: 0 auto;
    margin-top: 24px;
    z-index: 1;
  }
  .sectionSeven_wrapperP {
    display: flex;
    justify-content: center;
  }
  .sectionSeven_TextTop {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    margin-top: 24px;
  }
  .sectionSeven_macbook_desktop {
    display: none !important;
  }
  .sectionSeven_macbook_mobile {
    display: block !important;
    margin: 0 auto;
  }

  .sectionSeven_wrapperImg {
    width: 358px;
    height: 196.09552001953125px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.07), 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    z-index: 15;
    display: flex;
    justify-content: center;
  }
  .sectionSeven_Img {
    width: 358px;
    height: 196.09552001953125px;
    display: block;
  }
  .sectionSeven_Elipse1 {
    width: 782px;
    height: 780px;

    opacity: 1;
    background-color: #f59e0b;
    border-radius: 100%;
    position: absolute;
    top: -319px;
    left: 877px;
    z-index: -1;
  }
  .sectionSeven_Elipse2 {
    width: 366px;
    height: 365px;
    background-color: #a855f7;
    border-radius: 100%;
    position: absolute;
    bottom: -181px;
    z-index: 1;
    left: -161px;
  }
  .sectionSeven_Elipse3 {
    width: 254px;
    height: 368px;
    opacity: 1;

    background: #38bdf8;
    border-radius: 100%;
    position: absolute;
    bottom: -227px;
    left: 1296px;
  }
  /* ---------------------------------------------End section Seven */
  .footer {
    width: 393px;
    height: 196px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;

    position: relative;
    top: 476px;
  }
  .footer_All {
    width: 361px;
    height: 196px;
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
  }

  .footer_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 24px; */
  }
  .footer_logoContainer {
    width: 126.8095703125px;
    height: 32px;
    gap: 10px;
  }
  .footer_companyName {
    width: 552.59521484375px;
    height: 22px;
  }
  .footer_comanyNameText {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }

  .footer_rigth {
    width: 361px;
    height: 46px;
    gap: 24px;
    justify-content: center;
  }

  .footer_rigth a {
    width: 57px;
    height: 46px;
    gap: 8px;
    padding-top: 12px;
    padding-bottom: 12px;

    text-decoration: none;
    color: #0f172a;
  }
}
